$primary-color: #fff;
$secondary-color: #74B9FF;
$tertiary-color: #FDCB6E;
$accent-color: #000;
@import url('https://fonts.googleapis.com/css?family=Oxygen:regular,bold,italic&subset=latin,latin-ext');

.logo{
    display: flex;
    font-family: 'Oxygen', sans-serif;
    font-size: 69px;
    font-weight: bold;
    .fit{
        display: inline-block;
        color: $secondary-color;
    }
    .me{
        display: inline-block;
        color: $tertiary-color;
    }
}

.flex-wrapper{
    display: flex;
    align-items: center;
}

.form-wrapper{
    
}