@import "./_navbar.scss";
@import "./_alert.scss";
@import "./_form.scss";
@import "./_search.scss";



$primary-color: #fff;
$secondary-color: #74B9FF;
$tertiary-color: #FDCB6E;
$accent-color: #000;

